
-- COMBINACION SKU-LOCAL UNICA
SELECT 
	C.[LOCAL],
	C.[DIA_LLEGADA],
	C.[SKU],
	C.Servidor,
	COUNT(C.[SKU]) AS DUPLICADO
FROM (
	SELECT *, '177' AS Servidor
	FROM [SUGERIDO_COMPRA].[dbo].[View_CONSOLIDADO_SUGERIDO]
	WHERE CONVERT(DATE,[FECHA_HORA]) BETWEEN CONVERT(DATE,GETDATE()) AND CONVERT(DATE,GETDATE())

	UNION ALL

	SELECT *, '201' AS Servidor
	FROM [10.195.254.201].[SUGERIDO_COMPRA].[dbo].[V_CONSOLIDADO_SUGERIDO]
	) AS C
GROUP BY
	C.[LOCAL],
	C.[DIA_LLEGADA],
	C.[SKU],
	C.Servidor
HAVING COUNT(C.[SKU]) > 1



-- (CORREGIDO <> NULL ) = SUGERIDO_FINAL
SELECT 
	C.[LOCAL],
	C.[DIA_LLEGADA],
	C.[SKU],
	C.[CORREGIDO],
	C.[SUGERIDO FINAL]
FROM (
	SELECT *
	FROM [SUGERIDO_COMPRA].[dbo].[View_CONSOLIDADO_SUGERIDO]
	WHERE CONVERT(DATE,[FECHA_HORA]) BETWEEN CONVERT(DATE,GETDATE()) AND CONVERT(DATE,GETDATE())

	UNION ALL

	SELECT *
	FROM [10.195.254.201].[SUGERIDO_COMPRA].[dbo].[V_CONSOLIDADO_SUGERIDO]
	) AS C
WHERE 
	C.[CORREGIDO] IS NOT NULL
	AND C.[CORREGIDO] <> C.[SUGERIDO FINAL]


	-- SUGERIDO FINAL <> NULL

SELECT 
	C.[LOCAL],
	C.[DIA_LLEGADA],
	C.[SKU],
	C.[CORREGIDO],
	C.[SUGERIDO FINAL]
FROM (
	SELECT *
	FROM [SUGERIDO_COMPRA].[dbo].[View_CONSOLIDADO_SUGERIDO]
	WHERE CONVERT(DATE,[FECHA_HORA]) BETWEEN CONVERT(DATE,GETDATE()) AND CONVERT(DATE,GETDATE())
	
	UNION ALL
	
	SELECT *
	FROM [10.195.254.201].[SUGERIDO_COMPRA].[dbo].[V_CONSOLIDADO_SUGERIDO]
	) AS C
WHERE 
	C.[SUGERIDO FINAL] IS NULL

