/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @local NUMERIC
	SET @local = 220;

SELECT
	[ID_USUARIO],
	[LOCAL],
	[N_PEDIDO],
	[FECHA_HORA],
	[DIA_LLEGADA]
	FROM [SUGERIDO_COMPRA].[dbo].[SUGERIDO_CALCULADO_F]
	WHERE CONVERT(DATE, [FECHA_HORA]) = CONVERT(DATE, GETDATE()) AND [LOCAL] = @local
	GROUP BY
		[ID_USUARIO],
		[LOCAL],
		[N_PEDIDO],
		[FECHA_HORA],
		[DIA_LLEGADA];
	
SELECT
	[ID_USUARIO],
	[LOCAL],
	[N_PEDIDO],
	[FECHA_HORA],
	[DIA_LLEGADA]
	FROM [10.195.254.201].[SUGERIDO_COMPRA].[dbo].[SUGERIDO_CALCULADO_F]
	WHERE CONVERT(DATE, [FECHA_HORA]) = CONVERT(DATE, GETDATE()) AND [LOCAL] = @local
	GROUP BY
		[ID_USUARIO],
		[LOCAL],
		[N_PEDIDO],
		[FECHA_HORA],
		[DIA_LLEGADA];


SELECT 
	S.LOCAL,
	U.NOMBRE,
	U.NOM_USUARIO,
	S.DIA_LLEGADA,
	S.N_PEDIDO,
	S.FECHA_HORA AS HORA_GUARDADO,
	COUNT(S.SKU) AS SKUs_SURTIDO,
	COUNT(S.CORREGIDO) AS LINEAS_CORREGIDAS
FROM [SUGERIDO_COMPRA].[dbo].[SUGERIDO_CALCULADO_F] S 
	LEFT JOIN [SUGERIDO_COMPRA].[dbo].Usuarios U 
		ON S.ID_USUARIO = U.ID_USUARIO
WHERE 
	CONVERT(DATE,[FECHA_HORA]) = CONVERT(DATE,GETDATE()) 
	--AND S.N_PEDIDO = 1 
	AND LOCAL in (@local)
GROUP BY
	S.LOCAL,
	U.NOMBRE,
	U.NOM_USUARIO,
	S.DIA_LLEGADA,
	S.N_PEDIDO,
	S.FECHA_HORA
ORDER BY 
	LOCAL, 4 DESC;


SELECT 
	S.LOCAL,
	U.NOMBRE,
	U.NOM_USUARIO,
	S.DIA_LLEGADA,
	S.N_PEDIDO,
	S.FECHA_HORA AS HORA_GUARDADO,
	COUNT(S.SKU) AS SKUs_SURTIDO,
	COUNT(S.CORREGIDO) AS LINEAS_CORREGIDAS
FROM [10.195.254.201].[SUGERIDO_COMPRA].[dbo].[SUGERIDO_CALCULADO_F] S 
	LEFT JOIN [SUGERIDO_COMPRA].[dbo].Usuarios U 
		ON S.ID_USUARIO = U.ID_USUARIO
WHERE 
	CONVERT(DATE,[FECHA_HORA]) = CONVERT(DATE,GETDATE()) 
	--AND S.N_PEDIDO = 1 
	AND LOCAL in (@local)
GROUP BY
	S.LOCAL,
	U.NOMBRE,
	U.NOM_USUARIO,
	S.DIA_LLEGADA,
	S.N_PEDIDO,
	S.FECHA_HORA
ORDER BY 
	LOCAL, 4 DESC;